.calc1{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff3cd;
  position: absolute;
}
.center{
  display: flex;
  justify-content: center;
}
.fields{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
input{
  margin: 2px;
  border-radius: 8px;
  border: none;
  background: #fd3860;
  padding: 8px;
  color: white;
}
button{
  border: 2px solid #43f633;
  background: #fee;
  padding: 5px;
  border-radius: 8px;
  margin-top: 12px;
}
::placeholder { 
  color: white;
  opacity: 0.9; 
}
label{
  padding: 8px 8px 2px 8px;
}
input:focus {
  outline: none !important;
  border:none;
  box-shadow: 0 0 10px rgb(170, 170, 170);
}